<head>
    <meta charset="UTF-8">
    <title>Stack OverFlow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>    
        <div class="container">
            <div id="logo">
                <h2>StackOver Lite</h2>
            </div>
            <nav>
                    <ul>
                        <li class="here"><a href="signup.html">Sign Up</a></li>
                        <li><a href="index.html">Login</a></li>
                        <li ><a href="#">Profile</a></li>
                        <li><a href="feeds.html">Feeds</a></li>
                    </ul>
                </nav>
        </div>
       
    </header>
    <section id="main">
        <div class="container">
            <article id="profile">
                <div class="desc">
                    <div id="prof-pic">
                            <img src="../static/img/prof-page.jpg" style="border-radius: 50%;">
                    </div>
                    <div class="info">
                        <h1>Makabugo Fahad</h1>
                        <p>Lives in Kampala<br>Software Leads</p>
                    </div>
                </div>
            </article>
            <aside id="sidebar">
                    <h3>Stat</h3>
                    <hr>
                    <p>Answers <span>0</span></p>
                    <p>Questions <span>0</span></p>
            </aside>
        </div>
        
    </section>
    <section id="main">
            <div class="container">
                <article id="qns">
                    <h2>My Questions</h2>
                    <div class="tab">
                        <button class="tablinks" onclick="openTime(event, 'Most')" id="defaultOpen">Questions by User with the most Answers.</button>
                        <button class="tablinks" onclick="openTime(event, 'Recent')">Recent Questions by User</button>
                      </div>
                      
                      <div id="Most" class="tabcontent">
                        <p><a href="#">What is Java?</a><span class="number">56</span></p>
                        
                      </div>
                      <div id="Recent" class="tabcontent">
                        <p><a href="#">How to use Laravel Blade in JS (PHP)</a><span class="number">56</span></p>
                        
                      </div>
                </article>
               
            </div>
            
        </section>
    <footer>
        <p>Capsule Web. Copyright &copy; 2018</p>
    </footer>
    <script>
        function openTime(evt, stat) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(stat).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click()
        </script>
</body>