<head>
    <meta charset="UTF-8">
    <title>Stack OverFlow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>    
        <div class="container">
            <div id="logo">
                <h2>StackOver Lite</h2>
            </div>
            <nav>
                    <ul>
                            <li class="here"><a href="#">Sign Up</a></li>
                            <li><a href="index.html">Login</a></li>
                            <li ><a href="profile.html">Profile</a></li>
                            <li><a href="feeds.html">Feeds</a></li>
                    </ul>
                </nav>
        </div>
       
    </header>
    <section class="signup">
            <div class="container" style="width: 77%;padding-top: 120px;">
                <div class="welcome" style="float: right;">
                <h1>Join the Community</h1>
                <p>Grow your career to today, with the neatest
                and informative platform.<br>Own your Learning</p>
            </div>
            
            <form style="text-align: left;">
                    <div class="login-fields">
                        <label class="holder">Email</label>
                        <br>
                        <input type="email" id="email" placeholder="you@example.org">
                        <br>
                        <label class="holder">Password</label>
                        <br>
                        <input type="password" placeholder="********" id="password">
                        <br>
                        <label class="holder"> Confirm Password</label>
                        <br>
                        <input type="password" placeholder="********" id="password">
                        <br>
                        <input class="sb" type="button" id="submit-button" name="submit-button" value="Sign Up">
                        <br>
                        
                    </div>
                </form>
            </div>
        </div> 
    </section>
    <footer>
        <p>Capsule Web. Copyright &copy; 2018</p>
    </footer>
</body>